[submodule "lung-diagnosis"]
	path = lung-diagnosis
	url = https://github.com/MRSandyra/Lung-Diagnosis-Web
[submodule "anime-recommender"]
	path = anime-recommender
	url = https://github.com/MRSandyra/anime-recommender.git
[submodule "fraud-pipeline"]
	path = fraud-pipeline
	url = https://github.com/MRSandyra/fraud-transaction-risk-pipeline.git
[submodule "wikipedia-edit-stream-analytics"]
	path = wikipedia-edit-stream-analytics
	url = https://github.com/MRSandyra/wikipedia-edit-stream-analytics.git
